<div class="container pt-5">
    <div layout="row">
        <div fxFlex="100">
           
                <div class="row">
                    <div class="col-12">
                        <p class="text-center h3">REGISTRO DE VISITAS</p>
                    </div>
                </div>
          
        </div>
    </div>
</div>

<div class="container-fluid pt-5">
    <div class="row d-flex justify-content-around">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-3">
            <p>NOMBRE DEL ASESOR QUE ATENDERÁ AL CLIENTE: </p>
        </div>
        <div class="col-12 col-md-3">
            <div class="input-group mb-3">              
                <input type="text" class="form-control" placeholder="Datos del Asesor" disabled aria-label="Username" aria-describedby="basic-addon1">
              </div>
        </div>
        <div class="col-12 col-md-3"></div>
    </div>
    <div class="row d-flex justify-content-around">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-3">
            <p>PROYECTO: </p>
        </div>
        <div class="col-12 col-md-3">
            <select class="form-select" aria-label="Default select example">
                <option selected>Elige...</option>
                <option value="1">SAKURA</option>
                <option value="2">COMARCA</option>
                <option value="3">BUGANVILLA</option>
                <option value="4">PRANA LAGOONS</option>
                <option value="5">AYNISUYU</option>
            </select>              
        </div>
        <div class="col-12 col-md-3"></div>
    </div>
    <div class="row d-flex justify-content-around pt-3">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-3">
            <p>NOMBRE Y APELLIDOS DEL CLIENTE: </p>
        </div>
        <div class="col-12 col-md-3">
            <div class="input-group mb-3">              
                <input type="text" class="form-control" placeholder="Datos del Cliente" aria-label="Username" aria-describedby="basic-addon1">
              </div>
        </div>
        <div class="col-12 col-md-3"></div>

    </div>
    <div class="row d-flex justify-content-around pt-3">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-3">
            <p>DOCUMENTO DEL CLIENTE: </p>
        </div>
        <div class="col-12 col-md-3">
           <div class="row">
            <div class="col-4">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      DNI
                    </label>
                </div>
               
            </div>
            <div class="col-8">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        CARNET DE EXTRANJERIA
                    </label>
                </div>
            </div>
           </div>
        </div>
        <div class="col-12 col-md-3"></div>

    </div>
    <div class="row d-flex justify-content-around pt-3" >
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-3">            
        </div>
        <div class="col-12 col-md-3">
            <div class="input-group mb-3">              
                <input type="text" class="form-control" placeholder="Documento del Cliente" aria-label="Username" aria-describedby="basic-addon1">
              </div>
        </div>
        <div class="col-12 col-md-3"></div>

    </div>
    <div class="row d-flex justify-content-around pt-3">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-3">
            <p>TELÉFONO DE CONTACTO: </p>
        </div>
        <div class="col-12 col-md-3">
            <div class="input-group mb-3">              
                <input type="text" class="form-control" placeholder="Teléfono del Cliente" aria-label="Username" aria-describedby="basic-addon1">
              </div>
        </div>
        <div class="col-12 col-md-3"></div>

    </div>
    <div class="row d-flex justify-content-around pt-3">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-3">
            <p>FECHA DE VISITA Y HORA: </p>
        </div>
        <div class="col-12 col-md-3">
            <div class="input-group mb-3">              
                <input type="datetime-local" class="form-control" placeholder="Datos del Cliente" aria-label="Username" aria-describedby="basic-addon1">
              </div>
        </div>
        <div class="col-12 col-md-3"></div>

    </div>
    <div class="row d-flex justify-content-around pt-3">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-3">
            <p>TIPO DE VISITA: </p>
        </div>
        <div class="col-12 col-md-3">
            <select class="form-select" aria-label="Default select example">
                <option selected>Elige...</option>
                <option value="1">PRESENCIAL</option>
                <option value="2">ZOOM</option>
                <option value="3">ZOOM PERSONALIZADO</option>              
            </select>              
        </div>
        <div class="col-12 col-md-3"></div>
    </div>
    <div class="row d-flex justify-content-around pt-3">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-3">
            <p>FUENTE: </p>
        </div>
        <div class="col-12 col-md-3">
            <select class="form-select" aria-label="Default select example">
                <option selected>Elige...</option>
                <option value="1">FACEBOOK</option>
                <option value="2">TIKTOK</option>
                <option value="3">INSTAGRAM</option>     
                <option value="4">GOOGLE</option>              
                <option value="5">LETRERO</option>              
                <option value="6">RANCHO DE ROBERTIN</option>              
                <option value="7">REFERIDO</option>              
                <option value="8">CHARLA PRESENCIAL</option>              
                <option value="9">OTRO</option>              

            </select>              
        </div>
        <div class="col-12 col-md-3"></div>
    </div>
    <div class="row pt-4">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-6">
            <!-- <button class="btn btn-success btn-block">REGISTRAR</button> -->
            <div class="d-grid gap-2">
                <button class="btn btn-success" type="button">REGISTRAR</button>
              </div>
        </div>
        <div class="col-12 col-md-3"></div>

    </div>
</div>
<br><br>

        
       


