<div class="container pt-5">
    <div layout="row">
        <div fxFlex="100">
            <div class="row">
                <div class="col-12">
                    <p class="text-center h3">VIENE DE: GENERAR DE VISITA</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-5">
    <div class="row d-flex justify-content-around">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-3">
            <p>CLIENTE: </p>
        </div>
        <div class="col-12 col-md-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="PEPITO PEREZ" disabled aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-12 col-md-3"></div>
    </div>
    <div class="row d-flex justify-content-around pt-3">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-3">
            <p>CARGA DE BOUCHER: </p>
        </div>
        <div class="col-12 col-md-3">
            <div class="input-group">
                <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Button</button>
              </div>
        </div>
        <div class="col-12 col-md-3"></div>

    </div>   
    <div class="row d-flex justify-content-around pt-3">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-3">
            <p>TIPO DE COMPRADOR: </p>
        </div>
        <div class="col-12 col-md-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Tipo de Comprador" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-12 col-md-3"></div>

    </div>
    <div class="row d-flex justify-content-around pt-3">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-3">
            <p>TIPO DE FAMILIA: </p>
        </div>
        <div class="col-12 col-md-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="FAMILIA" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-12 col-md-3"></div>

    </div>
    <div class="row d-flex justify-content-around pt-3">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-3">
            <p>FECHA PROBABLE DE SEPARACIÓN: </p>
        </div>
        <div class="col-12 col-md-3">
            <div class="input-group mb-3">
                <input type="datetime-local" class="form-control" placeholder="Documento del Cliente" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-12 col-md-3"></div>

    </div>
    <div class="row d-flex justify-content-around pt-3">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-3">
            <p>NRO DE OPERACIÓN: </p>
        </div>
        <div class="col-12 col-md-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Operacion" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-12 col-md-3"></div>

    </div>
    <div class="row d-flex justify-content-around pt-3">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-3">
            <p>BANCO: </p>
        </div>
        <div class="col-12 col-md-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Banco" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-12 col-md-3"></div>

    </div>
    <div class="row d-flex justify-content-around pt-3">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-3">
            <p>FECHA Y HORA: </p>
        </div>
        <div class="col-12 col-md-3">
            <div class="input-group mb-3">
                <input type="datetime-local" class="form-control" placeholder="PROPIEDAD" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-12 col-md-3"></div>

    </div>
    <div class="row d-flex justify-content-around pt-3">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-3">
            <p>MONTO: </p>
        </div>
        <div class="col-12 col-md-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Monto" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-12 col-md-3"></div>

    </div>
    <div class="row d-flex justify-content-around pt-3">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-3">
            <p>MONEDA: </p>
        </div>
        <div class="col-12 col-md-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Moneda" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-12 col-md-3"></div>

    </div>
    <div class="row d-flex justify-content-around pt-3">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-3">
            <p>TIPO DE COMPRA: </p>
        </div>
        <div class="col-12 col-md-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Tipo de Compra" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-12 col-md-3"></div>

    </div>
    <div class="row pt-4">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-6">
            <!-- <button class="btn btn-success btn-block">REGISTRAR</button> -->
            <div class="d-grid gap-2">
                <button class="btn btn-success" type="button" routerLink="/asesores/zoom">REGISTRAR</button>
              </div>
        </div>
        <div class="col-12 col-md-3"></div>

    </div>
</div>
<br><br><br>