<div class="container pt-5">
    <div layout="row">
        <div fxFlex="100">
            <div class="row">
                <div class="col-12">
                    <p class="text-center h3">REPORTES</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row pt-3">
        <div class="col-12 col-md-3">
            <span>FRANQUICIAS </span>

            <select class="form-select" aria-label="Default select example">
                <option selected>Elige...</option>
                <option value="1">PRESENCIAL</option>
                <option value="2">ZOOM</option>
                <option value="3">ZOOM PERSONALIZADO</option>              
            </select>              
        </div>
        <div class="col-12 col-md-3">
            <span>PROYECTOS: </span>

            <select class="form-select" aria-label="Default select example">
                <option selected>Elige...</option>
                <option value="1">PRESENCIAL</option>
                <option value="2">ZOOM</option>
                <option value="3">ZOOM PERSONALIZADO</option>              
            </select>              
        </div>
        <div class="col-12 col-md-3">
            <span>CLIENTE: </span>

            <div class="input-group mb-3">              
                <input type="text" class="form-control" placeholder="Nombre del Cliente" aria-label="Username" aria-describedby="basic-addon1">
              </div>
        </div>
        <div class="col-12 col-md-3 pt-4">
           <button class="btn btn-success">Descargar <i class="fa fa-file-excel    "></i></button>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead style="background-color: #1b8f5f; color: white;">
                <tr>
                    <th class="text-center">Documento</th>
                    <th class="text-center">Datos</th>
                    <th class="text-center">Acto</th>
                    <th class="text-center">Estado</th>
                    <th class="text-center">Detalle</th>
                    <th class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center">
                    <td>77021151</td>
                    <td>Pepito Gomez</td>
                    <td> Acto </td>
                    <td> Activo </td>
                    <td> Sin detalles </td>

                </tr>
                <tr class="text-center">
                    <td>77021151</td>
                    <td>Pepito Gomez</td>
                    <td> Acto </td>
                    <td> Activo </td>
                    <td> Sin detalles </td>
                <tr class="text-center">
                    <td>77021151</td>
                    <td>Pepito Gomez</td>
                    <td> Acto </td>
                    <td> Activo </td>
                    <td> Sin detalles </td>
                <tr class="text-center">
                    <td>77021151</td>
                    <td>Pepito Gomez</td>
                    <td> Acto </td>
                    <td> Activo </td>
                    <td> Sin detalles </td>
                
            </tbody>
        </table>
    </div>
</div>

