<div class="container pt-5">
    <div layout="row">
        <div fxFlex="100">
            <div class="row">
                <div class="col-12">
                    <p class="text-center h3">VIENE DE: GENERAR DE VISITA</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-5">
    <div class="row d-flex justify-content-around">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-3">
            <p>CLIENTE: </p>
        </div>
        <div class="col-12 col-md-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Datos" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-12 col-md-3"></div>
    </div>
   
    <div class="row d-flex justify-content-around pt-3">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-3">
            <p>TIPO DE COMPRADOR: </p>
        </div>
        <div class="col-12 col-md-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Tipo de Comprador" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-12 col-md-3"></div>

    </div>
    <div class="row d-flex justify-content-around pt-3">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-3">
            <p>TIPO DE FAMILIA: </p>
        </div>
        <div class="col-12 col-md-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="FAMILIA" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-12 col-md-3"></div>

    </div>
    <div class="row d-flex justify-content-around pt-3">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-3">
            <p>FECHA PROBABLE DE SEPARACIÓN: </p>
        </div>
        <div class="col-12 col-md-3">
            <div class="input-group mb-3">
                <input type="datetime-local" class="form-control" placeholder="Documento del Cliente" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-12 col-md-3"></div>

    </div>
    -<div class="row d-flex justify-content-around pt-3">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-3">
            <p>1ERA PROPIEDAD: </p>
        </div>
        <div class="col-12 col-md-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="PROPIEDAD" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-12 col-md-3"></div>

    </div>
    <div class="row pt-4">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-6">
            <!-- <button class="btn btn-success btn-block">REGISTRAR</button> -->
            <div class="d-grid gap-2">
                <button class="btn btn-success" type="button" routerLink="/asesores/zoom">REGISTRAR</button>
              </div>
        </div>
        <div class="col-12 col-md-3"></div>

    </div>
</div>